body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

h2{
    color: linear-gradient(90deg, rgba(243,0,255,1) 0%, rgba(0,255,230,1) 50%, rgba(93,66,250,1) 100%);
    font-size: 2em;
    font-weight: 400;
    padding: 25px;
}

p{
    font-weight: 300;
    font-size: 12px;
}

h2{
    font-weight: 500;
}

.icon{
    border-radius: 50%;
    border: 1px solid white;
    font-size: 20px;
    padding: 5px;
}

.move-left{
    float: right;
    cursor:pointer;
}

.name{
    border-bottom: 1px solid white;
    margin: 65px 20px;
    font-weight: 300;
    letter-spacing: 10px;
}

.hi-section{
    padding-bottom: 75px;
    background: rgb(34, 34, 34);
    text-align: center;
}

.hi{
    font-size: 13em;
    display: inline;
    font-weight: 200;
}

.iam{
    font-size: 1em;
    display: inline;
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgb(34, 34, 34);
    overflow-x: hidden;
}
  
.overlay-content {
    position: relative;
    top: 15%;
    text-align: center;
    margin-top: 30px;
    text-transform: lowercase;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;
}
  
.overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
}
  
@media screen and (max-height: 450px) {
        /* .overlay a {font-size: 20px} */
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.gray-text{
    color: gray;
}

.menus{
    display: none;
}

/* about section home-------------------------------------------------------------------------------------------------------------------- */

.about-homepage{
    padding-bottom: 10px;
    margin: 80px 0;
    background: rgb(34, 34, 34); 
}

.block-pic{
    display: flex;
    justify-content: flex-end;
}

.gray-pic{
    width: 120px;
    height: auto;
    background: brown;
}

img.img-mosa{
    width: 120px;
    height: 105px;
    position: relative;
    right: 100px;
    top: 15px;
}

p.about-p{
    margin: 0 50px;
}

.paraabout-home{
    margin-top: 30px;
}

.butt-style{
    background-color: blue;
    width: 200px;
    height: 50px;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    text-align: center;
}

.butt-about{
    line-height: 50px;
}

/* ADA gradu home section-------------------------------------------------------------------------------------------------------------------- */
.ada-grad{
    background: rgb(34, 34, 34);
    height: auto;
    margin-bottom: 80px;
    padding-bottom: 30px;
}
img.about-logo{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* testi home section-------------------------------------------------------------------------------------------------------------------- */

.testi{
    background: rgb(34, 34, 34);
    margin-bottom: 80px;
}

.each-testi{
    display: inline-flex;
    padding-left: 50px;
}

.testi-pic{
    width: auto;
    height: 55%;
    position: relative;
    top: 20px;
}

.oran-block{
    background-color: orangered;
    width: 100px;
    height: 100px;
}

.logo-testi{
    background: white;
    width: 100px;
    height: 100px;
}

.testi-icon {
    position: relative;
    left: 40px;
    top: 30;
    font-size: 25px;
}

.oran-block p{
    position: relative;
    top:30;
}


.para-testi{
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.each-testi{
    margin-bottom: 30px;
}

.lec{
    width: 100px;
    height: auto;
    position: relative;
    top: 3px;
}

/* get in touch home section-------------------------------------------------------------------------------------------------------------------- */

.get-in-touch{
    background: rgb(34, 34, 34);
    padding-bottom: 30px;
    margin-bottom: 80px;
}

.get-margin{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.name-inp{
    width: 260px;
    margin-bottom: 10px;
}

.Your-message{
    height: 120px;
}

.send-butt{
    line-height: 55px;
}

/* the footer  --------------------------------------------------------------------------------------------------------------------------------------------------*/
.foot{
    padding-bottom: 50px;
}

.p-foot{
    padding-top: 10px;
    display: inline;
}

/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
   
}

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body{
        margin: 0 50px;
    }
    .icon.bar-removed{
        display: none;
    }
    
    .icons{
        float: right;
    }

    .name{
        padding-bottom: 50px;
        margin: 0px 0px;
    }

    .menus{
        display: flex;
        flex-direction: row;
        justify-content: center;
        letter-spacing: 5px;
        /* text-align: center; */
    }

    .menu{
        margin-left: 10px;
        font-weight: 100;
    }

    .hi-section{
        margin-top: 100px;
    }

    /* about home section ----------------------------------------------------------------------------------------------------------------------- */

    .block-pic{
        position: absolute;
        left: 300px;
    }
    
    .gray-pic{
        width: 260px;
        height: 260px;
    }
    
    img.img-mosa{
        width: auto;
        height: 250px;  
        right: 200px;
        top: 40px;
    }

    .about-mehome{
        position: relative;
        left: 150px;
        top: 60px;
    }

    .paraabout-home{
        margin-top: 50px;
    }

    p.about-p{
        font-size: 0.8em;
        margin-left: 650px;
        margin-right: 260px;
    }

    .about-bnt{
        display: none;
    }

    .about-homepage{
        height: 30vw;
    }

/* ADA gradu home section-------------------------------------------------------------------------------------------------------------------- */
    img.about-logo{
        float: left;
        width: 350px;
        margin-left: 260px;
    }

    .grad-butt{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        right: 360px;
    }

    .butt-style{
        margin: 0;
    }

/* testimonials home page desktop ----------------------------------------------------------------------------------------------------------------*/
    .logo-testi{
        width: 120px;
        height: 120px;
    }
    
    .testi-icon {
        left: 45px;
        font-size: 30px;
    }

    .desk-testi{
        display: inline-flex;
        margin-left: 220px;
        margin-right: 220px;
    }

    .oran-block{
        width: 120px;
        height: 120px;
    }

    .lec{
        width: 120px;
    }
/* get in touch home section-------------------------------------------------------------------------------------------------------------------- */
    .get-margin{
        margin-left: 260px;
        margin-right: 260px;
        text-align: justify;
    }

    .name-inp{
        display: flex; 
        width: 900px;       
    }

    .send-butt{
        display: flex,
        
    }

}
/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) { 
}

/* --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
